{% extends 'admin/genus/formLayout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Genus</h1>

                {{ include(':genus:_form.html.twig', {
                    'buttonText':'Save edits'
                }) }}
            </div>
        </div>
    </div>
{% endblock %}


